img {
    width: 45px;
    height: 45px;
}

.table {
    width: 100%;
    text-align: center;
}

.tdNew {
    width: 16%;
}

.tdImage {
    width: 16%;
}

.tdText {
    width: 68%;
    text-align: center;
}

.unread {
    background-color: #ebfff3;
    color: #000000;
}

.newButton {
    float: left;
    text-align: center;
    width: 75px;
    margin-left: calc(50% - 75px / 2);
}

.textCell {
    text-align: left;
}

.buttonCell {
    padding-left: 50%;
    text-align: center;
}