#my-table {
    width: 100%;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
}

thead{
    text-align: center;
}

button {
    font-size: medium;
    background-color: white;
}

.tdImage {
    width: 30%;
}

.tdName {
    width: 40%;
}

.tdActions {
    width: 30%;
}

tr:hover {
    background-color: #defce9;
    color: #000000;
}

