#body {
    background: -webkit-linear-gradient(left, rgb(114, 209, 114), green);
    margin-top: 2%;
    padding: 3%;
}

.logo {
    text-align: center;
    color: #fff;
    margin-top: 5%;
}
.logo img{
    width: 25%;
    -webkit-animation: mover 2s infinite  alternate;
    animation: mover 1s infinite  alternate;
}
@-webkit-keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-20px); }
}
@keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-20px); }
}

.content {
    background: #f8f9fa;
    border-top-left-radius: 10% 50%;
    border-bottom-left-radius: 10% 50%;
}


.avatar, p {
    width: 70%;
    margin-left: 20%;
}

p {
    text-align: center;
    font-style: italic;
    font-weight: normal;
}

.nav-pills {
    border-radius: 1.5rem;
    width: 30%;
    margin-top: 2%;
    margin-bottom: 1%;
    float: right;
}

.form-horizontal {
    margin: 10%;
}
